<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.monke.monkeybook">

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CAppTheme"
        tools:replace="android:theme">
        <activity android:name=".view.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />

        <activity
            android:name=".view.activity.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service android:name=".service.DownloadService" />

        <activity
            android:name=".view.activity.LibraryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.ChoiceBookActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.BookDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.ReadBookActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.ImportBookActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.BookSourceManageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />

        <meta-data
            android:name="BDAPPID"
            android:value="@string/baidu_app_id" />
        <meta-data
            android:name="BDAPPKEY"
            android:value="@string/baidu_app_key" />

        <meta-data
            android:name="UMENG_CHANNEL_VALUE"
            android:value="${UMENG_CHANNEL_VALUE}" />

    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk android:minSdkVersion="8"></uses-sdk>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>