<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.monke.monkeybook">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CAppTheme"
        tools:ignore="AllowBackup"
        tools:replace="android:theme">
        <activity android:name=".view.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity-alias
            android:name=".BookIcon"
            android:enabled="false"
            android:icon="@mipmap/book_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/book_launcher_round"
            android:targetActivity=".view.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity
            android:name=".view.activity.ReadBookActivity"
            android:configChanges="locale|keyboardHidden"
            android:launchMode="singleTask">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.activity.SearchBookActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity
            android:name=".view.activity.FindBookActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.ChoiceBookActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.BookDetailActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.ImportBookActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.BookSourceActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.ReplaceRuleActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.SettingActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.AboutActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.DonateActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.SourceEditActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name=".view.activity.QRCodeScanActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.FileFolderActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity android:name=".view.activity.WelcomeToReadActivity" />
        <activity
            android:name=".view.activity.ReadStyleActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />
        <activity android:name=".view.activity.DownloadActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@style/CAppTransparentTheme" />

        <service android:name=".service.DownloadService" />
        <service android:name=".service.ReadAloudService" />

        <receiver android:name=".service.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>