html, body {
    height: 100%;
    margin: 0;
}

.address {
    width: 270px;
}

input, button {
    width: 110px;
    line-height: 34px;
    padding-left: 8px;
    border: 1px solid #eee;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

    input:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }

img, button {
    cursor: pointer;
}

button {
    background-color: #eee;
    padding: 0;
}

#ep_content {
    width: 1050px;
    max-height: 400px;
    overflow-y: scroll;
    border: solid 1px #888;
}

div > button {
    padding: 0;
    margin: 8px;
}

label {
    color: red;
}

.nav {
    border-bottom: solid 1px #ccc;
}

    .nav button {
        background-color: #eee;
        color: #555;
        border: none;
        margin: 10px 5px;
        font-weight: 500;
        border-radius: 2px;
        outline: none;
        cursor: pointer;
    }

        .nav button:hover {
            border-color: #aaa;
            background-color: #efefef;
            color: #222;
            outline: solid 1px #ccc;
        }

.all-content {
    height: calc(100% - 60px);
}

.books > div {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    border: solid 1px #ddd;
}

.read > .books {
    width: 420px;
    float: left;
    height: 100%;
    overflow: auto;
}
    .read > .books > div {
        margin-right: 0;
        border-right: none;
    }


.more {
    float: right;
    width: calc(100% - 430px);
    overflow-y: auto;
    height: 100%;
    display: none;
}

    .more p {
        color: red;
        clear: both;
        text-indent: 20px;
    }

.read .more{
    display: block;
}
.books > div > img {
    width: 120px;
    height: 180px;
    float: left;
    margin-right: 10px;
}
.info{
    padding-top: 20px;
}
.info > img {
    float: right;
    padding-right: 20px;
    width: 300px;
    height: 450px;
}

.info p {
    color: black;
    padding-left: 10px;
    margin: 8px;
    line-height: 1.5;
    text-align: justify;
}

.info > div {
    float: left;
    width: calc(100% - 350px);
}

.books tr:nth-child(n+2) td {
    border-top: solid 1px #999;
}

.books td:nth-child(1) {
    vertical-align: top;
    width: 50px;
}

.books td:nth-child(2) {
    vertical-align: top;
    width: 200px;
}

.chapter {
    margin-right: 10px;
    padding-left: 10px;
    max-height: 500px;
    overflow-y: auto;
    border: solid 1px #333;
}

    .chapter button {
        width: 230px;
        text-align: left;
        text-indent: 14px;
        margin: 10px 4px;
    }

        .chapter button:hover {
            border-color: #aaa;
            background-color: #efefef;
            color: #222;
            border: solid 1px #ccc;
        }

.content {
    padding: 20px;
    text-align: justify;
    min-height: 1000px;
}

    .content h2 {
        font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
        font-weight: 500;
        text-align: center;
        line-height: 100px;
        font-size: 40px;
        margin: 0;
    }
